/* font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Shrikhand', cursive; */

/* BACKGROUND */
html,
#root {
  background-image: url(./images/quilt-bg.jpg);
}

/* NAVBAR */
.navbar {
  background-color: #f4c22a;
  font-family: 'Shrikhand', cursive;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#nav-container {
  width: auto;
}

/* ABOUT US */
h2 {
  font-family: 'Shrikhand', cursive;
}

h2 a:link {
  color: black;
  text-decoration: none;
}

h2 a:visited {
  color: black;
  text-decoration: none;
}

h2 a:hover {
  color: #ff7d90;
  text-decoration: none;
}

h2 a:active {
  color: black;
  text-decoration: none;
}

p {
  font-family: 'Pathway Gothic One', sans-serif;
}

#allyson-pic {
  margin-right: 20px;
}

#allyson-box {
  background-image: url(./images/center-stripe-pattern.jpg);
  border: 10px;
  border-style: outset;
  padding: 20px;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: 20px;
}

#khari-pic {
  margin-right: 20px;
}

#khari-box {
  background-image: url(./images/left-stripe-pattern.jpg);
  border: 10px;
  border-style: outset;
  padding: 20px;
  margin-bottom: 25px;
  margin-left: 20px;
}

#isis-pic {
  margin-right: 20px;
}

#isis-box {
  background-image: url(./images/right-stripe-pattern.jpg);
  border: 10px;
  border-style: outset;
  padding: 20px;
  margin-bottom: 25px;
  margin-left: 20px;
}